[submodule "src/gcc"]
	path = src/gcc
	url = git://github.com/gcc-mirror/gcc
[submodule "src/binutils"]
	path = src/binutils
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "src/cygwin"]
	path = src/cygwin
	url = git://sourceware.org/git/newlib-cygwin.git
[submodule "src/mingw"]
	path = src/mingw
	url = https://github.com/mirror/mingw-w64
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib
